/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 400px;  /* Limit width for mobile */
    margin: 0 auto;    /* Center the content */
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #333;
}

.cat-button{
    text-decoration: none;
}

.add-category-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.add-category-btn:hover {
    background-color: #45a049;
}

.categories-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.category-card {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: row;
}

.category-icon {
    font-size: 36px;
    margin-right: 15px;
}

.category-details {
    flex-grow: 1;
}

.category-details h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.category-details p {
    font-size: 14px;
    color: #777;
    max-width: 95%;
}

.log-btn {
    background-color: #2196F3;
    color: white;
    padding: 10px 15px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.log-btn:hover {
    background-color: #1976D2;
}

#category-list{
    text-decoration: none;
}
